*{
    padding:0 ;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.container{
    width: 120%;
    height: 100vh;
    background:#f2e9ff;
    align-items: center;
    display: flex;
    justify-content: left;
}
.gallery{
    align-items: center;
    display: flex;
    justify-content: left;
}
.img-box{
    width: 250px;
    height: 400px;
    margin: 25px;
    border-radius: 50px;
   background: url(https://i.pinimg.com/474x/0e/1f/59/0e1f5998a4ac9911a65973b9daa0cebd.jpg);
   background-size: cover;
   background-position: left;
   position: relative;
   transition: width 0.5s;
}
.img-box:nth-child(2){
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMNkwPNVBeY7ZzALiObe04a9aep4O1Q_E75Q&s);
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(3){
    background: url(https://images.slivcdn.com/videoasset_images/punyashlokahilyabai_22dec_portrait_thumb.jpg?w=360&q=low);
    background-size: cover;
    background-position: left;
}
.img-box:nth-child(4){
    background: url(https://m.media-amazon.com/images/M/MV5BOTRjOTdjNWMtNDBkMy00MzNkLWI1ZDYtNDkwYTU1MDYwYWY4XkEyXkFqcGc@._V1_FMjpg_UX1000_.jpg);
    background-size: cover;
    background-position:left;
}

.img-box h3{
    color: white;
    position: absolute;
    bottom: 0;
    left: 30px;
    opacity: 1;
    transition: bottom 0.5s, opacity 0.5s;

}
.img-box:hover{
 width: 300px;
 cursor: pointer;
}
.img-box :hover h3{
    opacity: 1;
     bottom: 25px;
}
h1{
   text-align: center;
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
}